  <% unless (search_context_str = render_search_to_s( advanced_search_context)).blank? %>
    <div class="constraints well search_history">
      <h4><%= t 'blacklight_advanced_search.form.search_context' %></h4>
      <%= search_context_str %>
    </div>
  <% end %>

  <%= form_tag search_action_url, :class => 'advanced form-horizontal', :method => :get do  %>
    <%= render_hash_as_hidden_fields(advanced_search_context) %>
    <div class="input-criteria">

      <div class="query-criteria"> 
        <h3 class="query-criteria-heading"><%= "#{t("blacklight_advanced_search.form.show_results_from")}" %></h3>
        <%= radio_button_tag :option, "catalog" %> <%= "#{t("trln_argon.local_filter.searching_local", local_institution_name: institution_long_name)}" %> &emsp;
        <%= radio_button_tag  :option, "trln" %> <%= "#{t("trln_argon.local_filter.searching_trln")}" %>
      </div>

      <div class="query-criteria">
        <h3 class="query-criteria-heading">
          <%= t('blacklight_advanced_search.form.query_criteria_heading_html', :select_menu =>  select_menu_for_field_operator ) %> 
        </h3>

        <div id="advanced_search">
          <%= render 'advanced/advanced_search_fields' %>
        </div>
      </div>

      <div class="limit-criteria">
        <h3 class="limit-criteria-heading"><%= t('blacklight_advanced_search.form.limit_criteria_heading_html')%></h3>

        <div id="advanced_search_facets" class="limit_input">
          <% if blacklight_config.try(:advanced_search).try {|h| h[:form_facet_partial] } %>
            <%= render blacklight_config.advanced_search[:form_facet_partial] %>
          <% else %>
            <%= render 'advanced_search_facets' %>
          <% end %>

          <!-- Fetch and display publication year range input if configured. -->
          <% pub_date = blacklight_config.facet_fields[TrlnArgon::Fields::PUBLICATION_YEAR_SORT.to_s] %>
          <% if pub_date.present? %>
            <div class="form-group advanced-search-facet row">
              <%= label_tag pub_date.field.parameterize, :class => "col-sm-3 control-label" do %>
                  <%= pub_date.label %>
              <% end %>
              <div class="col-sm-9 range_limit">
                <label for="range_pub_date_start_sort_begin" class="sr-only">Publication date range (starting year)</label>
                <%= render_range_input(pub_date.field, :begin) %> – 
                <label for="range_pub_date_start_sort_end" class="sr-only">Publication date range (ending year)</label>
                <%= render_range_input(pub_date.field, :end) %>
              </div>
            </div>
          <% end %>


        </div>
      </div>
  </div>

  <hr>

  <div class="sort-submit-buttons clearfix">
    <%= render 'advanced_search_submit_btns' %>
  </div>

<% end %>
