<a href="#content" class="skiplink">Skip to Main Content</a>
<div id="header-navbar" class="navbar navbar-inverse navbar-static-top" role="navigation" aria-label="Masthead">
  <div class="<%= container_classes %>">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle btn collapsed" data-toggle="collapse" data-target="#user-util-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <% inst = TrlnArgon::Engine.configuration.local_institution_code %>
    <% inst_long = t("trln_argon.institution.#{TrlnArgon::Engine.configuration.local_institution_code}.long_name") %>

    <%= link_to content_tag(:span, inst_long, class: "sr-only"), root_path, class: "navbar-brand" %>

    </div>

    <div class="collapse navbar-collapse" id="user-util-collapse">
      <%= render :partial=>'/user_util_links' %>
    </div>
  </div>
</div>

<div id="search-navbar" class="navbar navbar-default navbar-static-top">
  <div class="<%= container_classes %>">
    <%= render_search_bar  %>
  </div>
</div>
