<% inst = TrlnArgon::Engine.configuration.local_institution_code %>
<% inst_long = t("trln_argon.institution.#{TrlnArgon::Engine.configuration.local_institution_code}.long_name") %>

<nav class="navbar navbar-expand-md navbar-light bg-light topbar" role="navigation" aria-label="Masthead">
  <div class="<%= container_classes %>">
    <%= link_to application_name, root_path, class: 'mb-0 navbar-brand navbar-logo' %>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#user-util-collapse" aria-controls="user-util-collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <%= link_to content_tag(:span, inst_long, class: "visually-hidden"), root_path, class: "navbar-brand" %>

    <div class="collapse navbar-collapse justify-content-md-end" id="user-util-collapse">
      <%= render 'shared/user_util_links' %>
    </div>
  </div>
</nav>

<div id='search-navbar' class="navbar-search navbar navbar-light bg-light" role="navigation">
  <div class="<%= container_classes %>">
    <%= render TrlnArgon::SearchBarComponent.new(
        url: search_action_url,
        advanced_search_url: search_action_url(action: 'advanced_search'),
        params: search_state.params_for_search.except(:qt),
        autocomplete_path: suggest_index_catalog_path
      )
%>
  </div>
</div>
