<div class="items well">

  <div class="availability institution-availability row">

  <% expanded_availability.each do |institution, doc| %>

    <div class="institution location-header col-md-12">
      <h4><%= t("trln_argon.institution.#{institution}.long_name") %></h4>
    </div>

    <div class="item col-md-12">

      <div class="row">


      <% if doc.fulltext_urls.any? || doc.findingaid_urls.any? %>

        <div class="fulltext-url urls col-md-7">

          <ul>

          <% doc.fulltext_urls.each do |url| %>
            <li><%= link_to_primary_url(url) %></li>
          <% end %>

          <% doc.findingaid_urls.each do |url| %>
            <li><%= link_to_primary_url(url) %></li>
          <% end %>

          </ul>

        </div>

      <% end %>

        <div class="available col-md-5">

          <dl class="dl-horizontal">
            <dt><span class='status-label label label-info'><%= t('trln_argon.show.label.status') %></span></dt>
            <dd>
              <% if doc.availability == 'Available' %>
                <span class="item-available"><%= doc.availability %></span>
              <% elsif doc.availability == 'Not Available' %>
                <span class="item-not-available"><%= doc.availability %></span>
              <% else %>
                <%= doc.availability %>
              <% end %>
            </dd>
          </dl>

        </div>

      </div>

    </div>

  <% end %>

  </div>

</div>
