<% # main container for facets/limits menu -%>

<% inst = TrlnArgon::Engine.configuration.local_institution_code #vs ENV["LOCAL_INSTITUTION_CODE"]%>
<% instname = TrlnArgon::LookupManager.instance.map("#{inst}.facet.#{inst}") %>

<div id="location-data"
  data-argon-institution="<%= instname %>"
  data-argon-hsl="<%= TrlnArgon::LookupManager.instance.map('hsl.facet.hsl') %>"
  data-argon-law="<%= TrlnArgon::LookupManager.instance.map('law.facet.law') %>"
  data-location-facet-limit="<%= TrlnArgon::Engine.configuration.number_of_location_facets %>"
  ></div>


<div id="trln-toggle" class="sidenav facets top-panel-heading">

    <div id="viewAllResults" class="clearfix" role="navigation" aria-label="Searching (context)">
      <%= render :partial => "local_filter", locals: { local_button_id: 'toggle-local-btn-top', trln_button_id: 'toggle-trln-btn-top' } %>
    </div>

</div>


<% if has_facet_values?  %>

  <div id="facets" class="facets sidenav" role="navigation" aria-labelledby="facetsLabel">

    <div class="top-panel-heading panel-heading">
      <button type="button" class="facets-toggle" data-toggle="collapse" data-target="#facet-panel-collapse">
        <span class="sr-only">Toggle facets</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <h2 class='facets-heading' id="facetsLabel">
        <%= t('blacklight.search.facets.title') %>
      </h2>
    </div>

    <div id="facet-panel-collapse" class="collapse panel-group">
      <%= has_search_parameters? ? render_facet_partials : render_home_facets %>
    </div>
  </div>

<% end %>
