# <% # renders checkbox for facet -%>

# # <% checkbox_field = blacklight_config[:facet_fields][facet_field.key.parameterize]['locals'][:checkbox_field] %>
# # <% checkbox_field_label = blacklight_config[:facet_fields][facet_field.key.parameterize]['locals'][:checkbox_field_label] %>

# <!-- params for JS - pass as data attributes-->
# <%= content_tag :div, id: "checkbox_wrapper_#{facet_field.key.parameterize}",
#                       class: "facet-checkbox-wrapper",
#                       data: { facet_field: facet_field.key.parameterize,
#                               checkbox_field: checkbox_field } do %>

#    <span class="facet-label">
#     <%= check_box_tag "checkbox_#{facet_field.key.parameterize}", "1", false %>
#     <%= label_tag "checkbox_#{facet_field.key.parameterize}" do %>
#       <%= checkbox_field_label %></span>
#     <% end %>
#   </span>
#   <span class="facet-count"><%= display_facet_hit_count(facet_field.key.parameterize, checkbox_field) %></span>

# <% end %>
