<% lr_text, lr_url = latest_received(document, item_data) %>
<% unless lr_text.blank? %>
<div class="<%= latest_received_wrapper_class %>">
      <dl class="dl-horizontal">
        <dt><span class='latest-received-label label label-info'><%= t('trln_argon.show.label.latest_received') %></span></dt>
        <dd>
        	<span class='latest-received'>
        	<% if lr_url.blank? %>
        		<%= lr_text %>
            <% else %>
            	<a href="<%= lr_url %>"
            		onclick="viewin = window.open('<%= lr_url %>', 'latestreceived', 'scrollbars,menubar=1, location-1, resizable,width=750,height=600'); viewin.focus();"
    				class='latest-received-link new-window-link'
    				target='latestreceived' onclick>View 
    				<i class='fa fa-external-link' aria-hidden='true'></i>
    				<span><%= t('trln_argon.show.a11y_text.latest_received') %>
 				</a>
    		<% end %>
    		</span>
    	</dd>
    </dl>
</div>
<% end %>
