<div class="items">

  <% if document.findingaid_urls.any? %>
    <h3 class="online-header"><%= t('trln_argon.search.results.findingaid') %> <i class="fa fa-archive" aria-hidden="true"></i></h3>
    <div class="fulltext-url">
      <ul>
      <% document.findingaid_urls.each do |url| %>
        <li><i class="fa fa-square"></i> <%= link_to_primary_url(url) %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if document.fulltext_urls.any? %>
    <h3 class="online-header"><%= t('trln_argon.search.results.online') %> <i class="fa fa-desktop" aria-hidden="true"></i></h3>
    <div class="fulltext-url">
      <ul>
      <% document.fulltext_urls.each do |url| %>
        <li><i class="fa fa-square"></i> <%= link_to_primary_url(url) %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% unless document.holdings.empty? %>

    <h3><%= t('trln_argon.search.results.location') %> <i class="fa fa-map-marker" aria-hidden="true"></i></h3>

    <% if context == 'index' %>
      <%= render partial: "items_table_index", locals: { document: document} %>
    <% else %>
      <%= render partial: "items_table_show", locals: { document: document } %>
    <% end %>
  <% end %>
</div>
