<% # --- ITEM --- %>

  <div class="<%= call_number_wrapper_class(action: action_name) %>">
    <dl class="row">
    <dt class="col-sm-3"><span class='call-number-label badge badge-info'><%= t('trln_argon.show.label.call_number') %></span></dt>
    <dd class="col-sm-9"><span class='call-number'><%= call_number_display(item) %></span> <%= render partial: 'location_link', locals: { document: document, loc_b: loc_b, loc_n: loc_n, item: item } %></dd>
    </dl>
  </div>

  <div class="<%= status_wrapper_class(action: action_name) %> status-wrapper" <%= assign_item_id_as_id(item) %>>
    <dl class="row">
      <dt class="col-sm-3"><span class='status-label badge badge-info'><%= t('trln_argon.show.label.status') %></span></dt>
      <dd class="col-sm-9">
       <% available_class = item_availability_display(item) %>
       <% due_date = item_due_date(item) %>
       <span class="<%= available_class %>">
           <%= render partial: 'items_section_item_status', locals: { document: document, loc_b: loc_b, loc_n: loc_n, item: item } %>
           <% if !due_date.empty? %>
               <span class='due-date'><%= due_date %></span>
           <% end %>
       </span>
      </dd>
    </dl>
  </div>

<% if item_notes_display(item).present? %>

  <div class="<%= item_note_wrapper_class({ action: action_name, item_length: item_notes_display(item).length }) %> item-note-wrapper">
    <dl class="row">
      <dt class="col-sm-1"><span class='item-note-label badge badge-info'><%= t('trln_argon.show.label.item_note') %></span></dt>
      <dd class="col-sm-11"><%= item_notes_display(item) %></dd>
    </dl>
  </div>

<% end %>
