<% # --- ITEM --- %>

  <div class="<%= call_number_wrapper_class(action: action_name) %>">
    <dl class="dl-horizontal">
    <dt><span class='call-number-label label label-info'><%= t('trln_argon.show.label.call_number') %></span></dt>
    <dd><span class='call-number'><%= call_number_display(item) %></span> <%= render partial: 'location_link', locals: { document: document, loc_b: loc_b, loc_n: loc_n, item: item } %></dd>
    </dl>
  </div>

  <div class="<%= status_wrapper_class(action: action_name) %> status-wrapper">
    <dl class="dl-horizontal">
      <dt><span class='status-label label label-info'><%= t('trln_argon.show.label.status') %></span></dt>
      <dd>
       <% available_class = item_availability_display(item) %>
       <% due_date = item_due_date(item) %>
       <span class="<%= available_class %>">
           <%= item['status'] %>
           <% if !due_date.empty? %>
               <span class='due-date'><%= due_date %></span>
           <% end %>
       </span>
      </dd>
    </dl>
  </div>

<% if item_notes_display(item).present? %>

  <div class="<%= item_note_wrapper_class({ action: action_name, item_length: item_notes_display(item).length }) %> item-note-wrapper">
    <dl class="dl-horizontal">
      <dt><span class='item-note-label label label-info'><%= t('trln_argon.show.label.item_note') %></span></dt>
      <dd><%= item_notes_display(item) %></dd>
    </dl>
  </div>

<% end %>
