<% if document.findingaid_urls.any? || document.fulltext_urls.any? %>
  <div class="items-spacer col-md-12"></div>
<% end %>

<% num_display_items = TrlnArgon::Engine.configuration.number_of_items_show_view.to_f %>

<div class="items-wrapper items-section-show col-md-12">

  <div class="row">

    <% document.holdings.each_with_index do |(loc_b, loc_narrow_map), document_index| %>

      <% next if (loc_b == 'ONLINE' || loc_b == 'DUKIR' || loc_b.blank?) %>

      <% loc_narrow_map.each do |loc_n, item_data|  %>

        <% next if item_data.fetch('items', []).empty? %>

        <div class="location-header col-md-12">
          <h3>
            <% # --- display broad location --- %>
            <% if loc_b.present? %>
              <% broad_location_display = map_argon_code(document.record_owner, 'loc_b', loc_b) %>
              <span class='location loc-broad loc_b__<%= loc_b %>'>
                <%= broad_location_display %>
              </span>
            <% end %>

            <% # --- display narrow location --- %>
            <% if loc_n.present? %>
              <% narrow_loc = map_argon_code(document.record_owner, 'loc_n', loc_n) %>
              <% if narrow_loc.nil? %>
                <% narrow_loc = loc_n %>
              <% end %>
              <% # is loc_n different and not empty? %>
              <% if narrow_loc != broad_location_display && narrow_loc != '' %>
                <span class='location loc-narrow loc_n__<%= loc_n %>'> &mdash; <%= narrow_loc %></span>
              <% end %>
            <% end %>
          </h3>
        </div>


        <% has_holding_notes = !item_data.fetch('notes', '').blank? %>
        <% has_summary = !item_data.fetch('summary', '').blank? %>

        <% if has_summary || has_holding_notes %>

          <% item_with_summary = true %>

          <%= render partial: "items_section_summary", locals: { document: document, loc_b: loc_b, loc_n: loc_n, item_data: item_data, has_holding_notes: has_holding_notes } %>

        <% end %>



        <% # ---ITEMS WRAPPER (new) --- %>

          <div class="item-group-display <%= item_with_summary ? 'has-summary' : '' %>" id="<%= document.id %>-<%= document_index %>-preview">

            <% items_have_notes = items_have_notes?(item_data['items']) %>

            <% item_data['items'].first(num_display_items).each do |item| %>

              <div class="col-md-12 item <%= loc_n %> <%= loc_b %>" data-item-barcode="<%= item.has_key?('item_id') ? item['item_id'] : '' %>">

                <%= render partial: "items_section_item", locals: { document: document, item: item, loc_b: loc_b, loc_n: loc_n, source: 'show' } %>

              </div>

            <% end %>

          </div>

          <% if item_data['items'].size > num_display_items %>

            <div class='item-group-display collapse' id="item-container-<%=document.id %>-<%= document_index %>">

              <% item_data['items'].each_with_index do |item, i| %>

                <% next if i < num_display_items %>

                <div class="col-md-12 item <%= loc_n %> <%= loc_b %>" data-item-barcode="<%= item.has_key?('item_id') ? item['item_id'] : '' %>">

                  <%= render partial: "items_section_item", locals: { document: document, item: item, loc_b: loc_b, loc_n: loc_n, source: 'show' } %>

                </div>

              <% end %>

            </div>

            <div class="col-md-12">
              <div class="items-toggle">

                <a href="javascript:void(0);" class="expander btn btn-sm btn-info shower" data-toggle='collapse' data-target='<%= "#item-container-#{document.id}-#{document_index}" %>' aria-expanded='false' aria-controls='this'>
                  <%= t('trln_argon.show.controls.show') %> <%= t('trln_argon.show.controls.all') %> <%= item_data['items'].length %> <%= t('trln_argon.show.controls.items') %> <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </a>

                <a href="#<%= document.id %>-<%= document_index %>-preview" class="expander btn btn-sm btn-info hider" data-toggle='collapse' data-target='<%= "#item-container-#{document.id}-#{document_index}" %>' aria-expanded='false' aria-controls='this'>
                  <%= t('trln_argon.show.controls.hide') %> <%= t('trln_argon.show.controls.items') %> <i class="fa fa-minus-circle" aria-hidden="true"></i>
                </a>

              </div>
            </div>

          <% end %>

      <% # -- END items wrapper -- %>

      <% end %>

    <% end %>

    <%= render partial: "items_section_extra" %>

  </div>

</div>
