<div class="table-responsive">

  <table class='table table-condensed'>

    <thead class="sr-only">
      <tr class="holdings-header">
        <th class="location-header">Location</th>
        <th class="callnum-header">Call Number</th>
        <th class="status-header">Status</th>
      </tr>
    </thead>

  <% document.holdings.each do |loc_b, loc_narrow_map| %>
    <% next if (loc_b == 'ONLINE' || loc_b == 'DUKIR' || loc_b.blank?) %>
      <% has_notes = holdings_location_has_notes?(loc_narrow_map) %>
        <tr class='loc-broad-group <%= loc_b %>loc-broad-banner'>
          <th colspan="3">
            <%= map_argon_code(document.record_owner, 'loc_b', loc_b) if loc_b.present? %>
          </th>
        </tr>

    <% loc_narrow_map.each do |loc_n, item_data|  %>

      <% has_holding_notes = !item_data.fetch('notes', '').blank? %>
      <% has_summary =!item_data.fetch('summary', '').blank? %>
      <% if has_summary %>
        <tr class='location-narrow-group'>
          <th>
            <%= map_argon_code(document.record_owner, 'loc_n', loc_n) if loc_n %>
          </th>
          <th>
            <%= item_data['call_no'] %>
          </th>
          <th class='summary-holdings'>
            <%= item_data.fetch('summary', '') %>
            <span class="item-details-link">
              <%= link_to "Details", controller: "catalog", action: 'show', id: document.id, anchor: "item-container-#{loc_b}-#{loc_n}" %>
            </span>
          </th>
        </tr>

        <% if has_holding_notes %>

          <tr>
            <td class='notes holding-note' colspan="3">Note &mdash; <em><%= [*item_data['notes']].join("; "); %></em></td>
          </tr>

        <% end %>

      <% end %>

  <% unless has_summary %>

    <tbody class='item-group-display' id="<%= "item-container-#{loc_b}-#{loc_n}" %>">
      <% items_have_notes = items_have_notes?(item_data['items']) %>
      <% item_data['items'].each do |item| %>
        <tr class="item <%= loc_n %> <%= loc_b %>">
          <td class='location'><i class="fa fa-square"></i> <%= map_argon_code(document.record_owner, 'loc_n', loc_n) if loc_n %></td>
          <td class='callnumber'><%= call_number_display(item) %></td>

          <td class='status'>
            <% if item['status'] == 'Available' %>
              <span class="item-available"><%= item['status'] %></span>
            <% elsif item['status'] == 'Checked out' || item['status'] == 'Checked Out' %>
              <span class="item-not-available"><%= item['status'] %> <% if item.has_key?('due_date') %> (Due <%= item['due_date'].to_time.strftime("%m/%d/%Y") %>)<% end %> </span>
            <% elsif item['status'] == 'In-Library Use Only' %>
              <span class="item-library-only"><%= item['status'] %></span>
            <% else %>
              <%= item['status'] %>
            <% end %>
          </td>
        </tr>

      <% if item_notes_display(item).present? %>
        <tr>
          <td class='notes' colspan="3">Note &mdash; <%= item_notes_display(item) %></td>
        </tr>
      <% end %>

    <% end %>
    </tbody>

  <% end %>
  <% end %>
  <% end %>
  </table>

</div>
