<div class="table-responsive">

  <table class='table table-condensed'>
    <thead class="sr-only">
      <tr class="holdings-header">
        <th class="location-header">Location</th>
        <th class="callnum-header">Call Number</th>
        <th class="status-header">Status</th>
      </tr>
    </thead>
    <% document.holdings.each do |loc_b, loc_narrow_map| %>

      <% next if loc_b == 'ONLINE' %>
      <tr class='loc-broad-group <%= loc_b %>loc-broad-banner'>
        <th colspan="3">
          <%= map_argon_code(document.record_owner, 'loc_b', loc_b) %>
        </th>
      </tr>
      <% loc_narrow_map.each do |loc_n, item_data|  %>
        <% has_holding_notes = !item_data.fetch('notes', '').blank? %>
        <% has_summary = !item_data.fetch('summary', '').blank? %>
        <% narrow_loc = map_argon_code(document.record_owner, 'loc_n', loc_n) %>
        <% if has_summary %>
        <tr class="loc-narrow-banner" data-locbroad="<%= loc_b %>"
          data-locnarrow="<%= loc_n %>" id="<%= "item-details-#{loc_b}-#{loc_n}" %>">
          <th>
            <%= narrow_loc if loc_n %>
          </th>
          <th>
            <%= item_data['call_no'] %>
          </th>
          <th>
            <%= item_data['summary'] %>
            <a class="expander" data-toggle='collapse' href='<%= "#item-container-#{loc_b}-#{loc_n}" %>' aria-expanded='false' aria-controls='this'>
              <span class='shower'>
                (+ show <%= item_data['items'].length %> items)
              </span>
              <span class='hider'>
                (- hide all items)
              </span>
            </a>
          </th>
        </tr>
        <% end %>

        <tbody class="item-group<%= has_summary ? '' : '-display' %>" id="<%= "item-container-#{loc_b}-#{loc_n}" %>">
          <% items_have_notes = items_have_notes?(item_data['items']) %>
          <% item_data['items'].each_with_index do |item, index| %>
            <tr class="item <%= loc_n %> <%= loc_b %>">
              <td class='location'><i class="fa fa-square"></i> <%= narrow_loc if loc_n %></td>
              <td class='callnumber'><%= call_number_display(item) %></td>
              <td class='status'>

                <% if item['status'] == 'Available' %>
                  <span class="item-available"><%= item['status'] %></span>
                <% elsif item['status'] == 'Checked out' || item['status'] == 'Checked Out' %>
                  <span class="item-not-available"><%= item['status'] %> <% if item.has_key?('due_date') %> (Due <%= item['due_date'].to_time.strftime("%m/%d/%Y") %>)<% end %> </span>
                <% elsif item['status'] == 'In-Library Use Only' %>
                  <span class="item-library-only"><%= item['status'] %></span>
                <% else %>
                  <%= item['status'] %>
                <% end %>

              </td>

            </tr>

            <% if items_have_notes %>
              <tr>
                <td class='notes' colspan="3">Note &mdash; <%= item_notes_display(item) %></td>
              </tr>
            <% end %>


          <% end %>

          </tbody>

          <% if has_holding_notes %>

            <tr>
              <td class='notes' colspan="3">Note &mdash; <em><%= [*item_data['notes']].join("; "); %></em></td>
            </tr>

          <% end %>

        <% end %>
      <% end %>
  </table>

</div>
