<div class="<%= show_enhanced_data_class %>">
  <% s = enhanced_data(@document) %>
  <% summary = ( (s && s.summary? && s.summary) || @document.marc_summary ) %>
  <% toc = ( (s && s.toc? && s.toc ) || @document.marc_toc ) %>
  <% samplechapter = ( s && s.samplechapter? && s.samplechapter ) || nil %>

  <% unless summary.nil? || summary.empty? %>
    <section class="<%= show_enhanced_data_summary_class %>">

      <h2 id="summary">Summary</h2>

      <div class="content expandable-content">
        <%= summary.html_safe %>
      </div>

      <div class="expandable-content-controls">
        <span class='show-control more'><a href="javascript:void(0);" class="btn btn-show"><%= t('trln_argon.show.controls.show_more') %> <i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a></span>
        <span class='show-control less'><a href="#summary" class="btn btn-hide"><%= t('trln_argon.show.controls.show_less') %> <i class="fa fa-chevron-circle-up" aria-hidden="true"></i></a></span>
      </div>

    </section>
  <% end %>

  <%= render 'show_google_book_preview' %>

  <% unless toc.nil? || toc.empty? %>
    <section class="<%= show_enhanced_data_toc_class %>">
      <h2 id="contents">Contents</h2>

      <div class="content expandable-content">
        <%= toc.html_safe %>
      </div>

      <div class="expandable-content-controls">
        <span class='show-control more'><a href="javascript:void(0);" class="btn btn-show"><%= t('trln_argon.show.controls.show_more') %> <i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a></span>
        <span class='show-control less'><a href="#contents" class="btn btn-hide"><%= t('trln_argon.show.controls.show_less') %> <i class="fa fa-chevron-circle-up" aria-hidden="true"></i></a></span>
      </div>

    </section>
  <% end %>

  <% unless samplechapter.nil? || samplechapter.empty? %>
  <section class="<%= show_enhanced_data_sample_chapter_class %>">
    <h2>Sample Chapter</h2>

    <div class='content expandable-content'>
      <%= samplechapter.html_safe %>
    </div>

    <div class="expandable-content-controls">
      <span class='show-control more'><a href="javascript:void(0);" class="btn btn-show"><%= t('trln_argon.show.controls.show_more') %> <i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a></span>
      <span class='show-control less'><a href="javascript:void(0);" class="btn btn-hide"><%= t('trln_argon.show.controls.show_less') %> <i class="fa fa-chevron-circle-up" aria-hidden="true"></i></a></span>
    </div>

  </section>
  <% end %>

</div>
