<div id="enhanced-data" class="<%= show_enhanced_data_class %>">

  <% if display_summary?(document: @document) %>
    <span id="summary-top"></span>
    <section id="summary" class="<%= show_enhanced_data_summary_class %>" aria-labelledby="summaryLabel">

      <h2 id="summaryLabel"><%= t('trln_argon.show.heading.summary') %></h2>

      <div class="content expandable-content">
        <%= @document.syndetics_or_marc_summary.html_safe %>
      </div>

      <div class="expandable-content-controls">
        <span class='show-control more'><a href="javascript:void(0);" class="btn btn-show"><%= t('trln_argon.show.controls.show_more') %> <i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a></span>
        <span class='show-control less'><a href="#summary-top" class="btn btn-hide"><%= t('trln_argon.show.controls.show_less') %> <i class="fa fa-chevron-circle-up" aria-hidden="true"></i></a></span>
      </div>

    </section>
  <% end %>

  <%= render 'show_google_book_preview' %>

  <% if display_toc?(document: @document) %>
    <span id="contents-top"></span>
    <section id="contents" class="<%= show_enhanced_data_toc_class %>" aria-labelledby="contentsLabel">
      <h2 id="contentsLabel"><%= t('trln_argon.show.heading.contents') %></h2>

      <div class="content expandable-content">
        <%= @document.syndetics_or_marc_toc.html_safe %>
      </div>

      <div class="expandable-content-controls">
        <span class='show-control more'><a href="javascript:void(0);" class="btn btn-show"><%= t('trln_argon.show.controls.show_more') %> <i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a></span>
        <span class='show-control less'><a href="#contents-top" class="btn btn-hide"><%= t('trln_argon.show.controls.show_less') %> <i class="fa fa-chevron-circle-up" aria-hidden="true"></i></a></span>
      </div>

    </section>
  <% end %>

  <% if display_sample_chapter?(document: @document) %>
  <span id="sample-chapter-top"></span>
  <section id="sample-chapter" class="<%= show_enhanced_data_sample_chapter_class %>" aria-labelledby="sampleChapterLabel">
    <h2 id="sampleChapterLabel"><%= t('trln_argon.show.heading.sample_chapter') %></h2>

    <div class='content expandable-content'>
      <%= @document.syndetics_or_marc_sample_chapter.html_safe %>
    </div>

    <div class="expandable-content-controls">
      <span class='show-control more'><a href="javascript:void(0);" class="btn btn-show"><%= t('trln_argon.show.controls.show_more') %> <i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a></span>
      <span class='show-control less'><a href="#sample-chapter-top" class="btn btn-hide"><%= t('trln_argon.show.controls.show_less') %> <i class="fa fa-chevron-circle-up" aria-hidden="true"></i></a></span>
    </div>

  </section>
  <% end %>

</div>
