<%= render 'previous_next_doc' %>

<div class="row">
  <div class="col-md-12">
    <%= render :partial => 'show_tools' %>
  </div>
</div>

<% @page_title = t('blacklight.search.show.title', :document_title => document_show_html_title, :application_name => application_name).html_safe %>
<% content_for(:head) { render_link_rel_alternates } %>

<div id="document" class="document <%= render_document_class %>" itemscope  itemtype="<%= @document.itemtype %>">
  <div id="doc_<%= @document.id.to_s.parameterize %>">

    <div class="row">

      <div class="col-md-12 title-and-thumbnail">
        <%= render_document_partials @document, blacklight_config.view_config(:show).heading_partials %>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <%= render_document_partials @document, blacklight_config.view_config(:show).partials %>
        <div class="librarian-tools">
          <!-- TODO: Placeholder based on wireframes. Not functional yet.
                     Should probably create a partial for this and wire it through
                     the blacklight partials config. -->
          <p><a href="#" class="btn btn-primary">View MARC record for this title</a></p>
        </div>
      </div>

    </div>

  </div>
</div>

<% if @document.respond_to?(:export_as_openurl_ctx_kev) %>
  <!-- COinS, for Zotero among others -->
  <span class="Z3988" title="<%= @document.export_as_openurl_ctx_kev %>"></span>
<% end %>
