<%# default partial to display solr document fields in catalog show view -%>
<% display_values = show_configured_fields_and_values(blacklight_config.show_fields, document) %>
<% if display_values.any? %>
  <div class="other-details">
    <h2><%= t('trln_argon.show.heading.metadata') %></h2>
    <div>
      <% document_show_fields(document).each do |field_name, field| -%>
        <% if should_render_show_field? document, field %>
          <h3 class="blacklight-<%= field_name.parameterize %>"><%= render_document_show_field_label document, field: field_name %></h3>
          <ul>
            <li class="blacklight-<%= field_name.parameterize %>"><%= presenter(document).field_value(field) %></li>
          </ul>
        <% end -%>
      <% end -%>
    </div>
  </div>
<% end %>
