<%= render partial: 'no_results_message' %>

<% if search_state.params.key?('f') && !search_state.params.fetch('f').empty? && @response.empty? %>
  <h3><%= t('trln_argon.search.zero_results.remove_filters_html',
                      href: link_to(t('trln_argon.search.zero_results.remove_filters_href'),
                      search_state.params_for_search(f: nil))).html_safe %></h3>
<% end %>

<div class="jumbotron jumbotron-border">

<h2><%= t("trln_argon.search.zero_results.expand_search_html",
                      count: 0,
                      href: link_to(raw(t("trln_argon.search.zero_results.expand_search_html_href",
                                    count: 0)),
                                    no_results_escape_href_url)) %></h2>

  <div id="documents" class="noresults">

    <hr class="dashed" />

    <h3><%= t 'trln_argon.search.zero_results.modify_search' %></h3>

    <ul class="lead">

      <% if params[:q] and worldcat_search_available?%>
        <% wcqs = worldcat_query %>
        <li class='no-results-worldcat-search'><%= t('trln_argon.search.zero_results.worldcat_html',
            href: link_to(raw(t('trln_argon.search.zero_results.worldcat_href')),
            wcqs.query_url)) %></li>
      <% end %>

      <!-- ARTICLE SEARCH -->
      <% if params[:q] %>
        <li>
          <%= link_to t('trln_argon.search.zero_results.article_search',
                      query: truncate(params[:q], length: 60, escape: false)),
                      "#{TrlnArgon::Engine.configuration.article_search_url}#{CGI::escape(params[:q])}" %>
        </li>
      <% end %>

      <!-- KEYWORD SEARCH INSTEAD -->
      <%- if params[:q] and params[:search_field] and params[:search_field] != blacklight_config.default_search_field&.key -%>
        <li>
          <%= t 'trln_argon.search.zero_results.search_fields', :search_fields => search_field_label(params) %>
          <%= link_to t('trln_argon.search.zero_results.search_everything',
                      field: blacklight_config.default_search_field.label),
                      url_for(search_state.params_for_search(search_field: blacklight_config.default_search_field.key)) %>
        </li>
      <% end %>


      <!-- CONTACT US -->
      <li>
        <%= t('trln_argon.search.zero_results.contact_us_html',
                      href: link_to(t('trln_argon.search.zero_results.contact_us_href'),
                      TrlnArgon::Engine.configuration.contact_url)).html_safe %>
      </li>
    </ul>
  </div>

</div>
