<%= form_tag @url, method: @method, class: @classes.join(' '), role: 'search', 'aria-label' => t('blacklight.search.form.submit') do %>
  <!-- follows the default implementation, but this leads to duplication
       of parameters after 'edit search' is used,  as chosen is doing 
       its own thing -->
  <noscript>
  <%= render_hash_as_hidden_fields(@params) %>
  </noscript>
    <div class="input-criteria">

      <div class="query-criteria" role="radiogroup" aria-labelledby="show-results-from-header"> 
        <h2 class="query-criteria-heading" id="show-results-from-header"><%= "#{t("blacklight_advanced_search.form.show_results_from")}" %></h2>
        <span class="option-wrapper">
          <%= radio_button_tag :option, "catalog" %> <%= label_tag 'option_catalog', "#{t("trln_argon.local_filter.searching_local", local_institution_name: t("trln_argon.institution.#{TrlnArgon::Engine.configuration.local_institution_code}.long_name"))}" %> &emsp;
        </span>
        <span class="option-wrapper">
          <%= radio_button_tag  :option, "trln" %> <%= label_tag 'option_trln', "#{t("trln_argon.local_filter.searching_trln")}" %>
        </span>
      </div>

      <div class="query-criteria">
        <h2 class="query-criteria-heading">
          <%= t('blacklight_advanced_search.form.query_criteria_heading_html', :select_menu =>  default_operator_menu ) %> 
        </h2>

        <div id="advanced_search">
          <% search_field_controls.each do |control| %>
            <%= control %>
          <% end %>
        </div>
      </div>

      <div class="limit-criteria">
        <h2 class="limit-criteria-heading"><%= t('blacklight_advanced_search.form.limit_criteria_heading_html')%></h2>

        <div id="advanced_search_facets" class="limit_input">
          <div class="limit-criteria mb-4">
            <% search_filter_controls.each do |control| %>
              <%= control %>
            <% end %>
          </div>
        </div>
      </div>
  </div>

  <hr>

  <% if sort_fields_select %>
    <div class="form-group row mb-4">
      <div class="col-md-6 col-sm-6 col-xs-6 sorting" style="display: inline-flex">
        <%= content_tag :label, t('blacklight.advanced_search.form.sort_label'), for: 'sort', class: 'col-form-label' %>
        <%= sort_fields_select %>
      </div>
      <div class="submit-buttons col-md-5 col-sm-6 col-xs-6 offset-md-1">
        <%= submit_tag t('blacklight.advanced_search.form.search_btn_html'), class: 'btn btn-primary advanced-search-submit', id: "advanced-search-submit" %>
        <%= button_tag t('blacklight.advanced_search.form.start_over_html'), type: 'reset', class: 'btn btn-outline-secondary advanced-search-start-over' %>
      </div>
    </div>
  <% end %>

<% end %>
