<%= form_tag @url, method: @method, class: 'search-query-form navbar-form', role: 'search', 'aria-label' => scoped_t('submit') do %>
  <%= render_hash_as_hidden_fields(@params) %>

   <div class="form-group mast-search">
    <div class="input-group">
      <% if @search_fields.length > 1 %>
          <%= select_tag(:search_field,
                         options_for_select(@search_fields, h(@search_field)),
                         #title: scoped_t('search_field.title'),
                         data: {style: "btn-default search-select"},
                         id: "#{@prefix}search_field",
                         class: "search_field selectpicker") %>
      <% elsif @search_fields.length == 1 %>
        <%= hidden_field_tag :search_field, @search_fields.first.last %>
      <% end %>

      <label for="<%= @prefix %><%= @query_param %>" class="sr-only visually-hidden"><%= scoped_t('search.label') %></label>
      <%= text_field_tag @query_param, @q, placeholder: scoped_t('search.placeholder'), class: "search-q q form-control", id: "#{@prefix}q", autocomplete: autocomplete_path.present? ? "off" : "", autofocus: @autofocus, data: { autocomplete_enabled: autocomplete_path.present?, autocomplete_path: autocomplete_path }  %>

      <div class="input-group-btn">
        <button type="submit" class="btn btn-primary search-btn" id="<%= @prefix %>search">
          <span class="submit-search-text"><%= scoped_t('submit') %></span>
          <%= blacklight_icon :search, aria_hidden: true %>
        </button>
      </div>
   </div>
 </div>
  <% if presenter.advanced_search_enabled? %>
    <div class='input-group'>
      <%= link_to t('blacklight.advanced_search.more_options'), @advanced_search_url, class: 'advanced_search'%>
    </div> 
  <% end %>
<% end %>
