<div class="items accordian">

  <div class="availability institution-availability row">

    <% TrlnArgon::Engine.configuration.sort_order_in_holding_list.split(', ').each do |inst| %>

      <% local_doc = document.docs_with_holdings_merged_from_expanded_docs.fetch(inst, nil) %>

      <% if display_expanded_holdings_and_links?(document, local_doc, inst) %>

        <div class="<%= institution_location_header_class %>">
          <h4><%= t("trln_argon.institution.#{inst}.long_name") %></h4>
        </div>

        <div class="<%= item_class %>">

          <%= render partial: 'fulltext_links', locals: { document: document, inst: inst} %>

          <div class="row">

            <div class="<%= availability_class %>">
              <dl>
                <dt><span class='status-badge badge bg-info'><%= t('trln_argon.show.badge.status') %></span></dt>
                <dd>
                  <span class="<%= binary_availability_span_class(document: local_doc) %>">
                    <%= local_doc.present? ? local_doc.availability : 'Available' %>
                  </span>
                </dd>
              </dl>
            </div>

          </div>

        </div>

      <% end %>

    <% end %>

  </div>

</div>
