<div id="holdings" class="<%= show_items_class %>">

  <h2 class="holdings-header"><%= t('trln_argon.show.heading.holdings') %></h2>

  <% TrlnArgon::Engine.configuration.sort_order_in_holding_list.split(', ').each do |inst| %>

    <% local_doc = document.docs_with_holdings_merged_from_expanded_docs.fetch(inst, nil) %>

    <% if display_expanded_holdings_and_links?(document, local_doc, inst) %>

      <h3 class="institution-name <%= inst %>">
        <%= t("trln_argon.institution.#{inst}.long_name") %>
      </h3>

      <div class="items well">
        <div class="row">

          <%= render partial: 'fulltext_links', locals: { document: document, inst: inst} %>

          <% if local_doc.present? && local_doc.holdings.any? %>
            <%= render partial: 'items_section',
                       locals: { document: local_doc,
                                 num_display_items: TrlnArgon::Engine.configuration.number_of_items_index_view.to_f,
                                 loc_b_header_level: :h4 } %>
          <% end %>

          </div>
        </div>

    <% end %>

  <% end %>

</div>

